@model IEnumerable<FoodDto>

@{
    ViewData["Title"] = "Foods";
}
<a asp-controller="Nutrition" asp-action="Create" class="btn btn-primary mb-2">Create Food</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Calories</th>
            <th scope="col">Carbs</th>
            <th scope="col">Proteins</th>
            <th scope="col">Fats</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model)
        {
        <tr>
            <td>@food.Name</td>
            <td>@food.FoodCategory</td>
            <td>@food.Calories</td>
            <td>@food.Carbs</td>
            <td>@food.Proteins</td>
            <td>@food.Fats</td>
            <td><a asp-controller="Nutrition" asp-action="Edit" asp-route-id="@food.Id" class="btn btn-warning mb-2">Edit</a></td>
            <td><a asp-controller="Nutrition" asp-action="Delete" asp-route-id="@food.Id" class="btn btn-danger mb-2">Delete</a></td>
        </tr>
        }
    </tbody>
</table>